{% extends 'main.html' %}

{% block title %} Lista kontaktów {% endblock %}

{% block body %}
<div class="card text-white bg-secondary mb-3">
    <center>
        <div class="card-header">PHBOOK 1.0</div>
            <h1 style="margin-left: 10px">Książka kontaktów</h1>  
        </div>
    </center> 
<div>
<center>
    <div class="card text-white bg-secondary mb-3"  style="max-width: 30rem;">
        <div class="card-header">Szukaj osoby:</div>
            <p><form action="{% url 'search_results' %}" method="get">{% csrf_token %}
                <input name="q" type="text" placeholder="Szukaj...">
                <input type="submit" class="btn btn-lg btn-primary" value="Szukaj">
                <input type="reset" class="btn btn-secondary btn-lg active" value="Wyczyść">
                <em style="margin-left: 10px">(Wpisz: imię, nazwisko, e-mail lub nr telefonu)</em>
            </p> 
    </div>
</center>
<center>
    <div>
        <a class="btn btn-lg btn-primary" href="{% url 'add_person' %}">Dodaj osobę</a>
        <p>
            {% for person in allpersons %}
                <ul style="list-style: none;">
                    <li><b>{{person.lastname}} {{ person.firstname }}</b>&nbsp;

                        <a href="{% url 'edit_person' person.id%}"><i class="fas fa-edit"></i></a>&nbsp;
                        <a href="{% url 'add_email' person.id%}"><i class="fas fa-plus"></i><i class="fas fa-at"></i></a>&nbsp;
                        <a href="{% url 'add_phone' person.id%}"><i class="fas fa-plus"></i><i class="fas fa-phone"></i></a>&nbsp;
                        <input type="hidden" name="id" value="{{person.id}}">

                            {% if person.email_set.all or person.phonenumber_set.all %}

                                <a href="{% url 'del_person' person.id%}" class="disabled"></a>

                            {% else %}

                                <a href="{% url 'del_person' person.id%}"><i class="fas fa-trash"></i></a></li>

                            {% endif %}

                                {% for email in person.email_set.all %}
                                    <li>{{email.email}}</li>
                                {% endfor %}

                                {% for phones in person.phonenumber_set.all %}
                                    <li>{{phones.phonenumber}}</li>
                                {% endfor %}

                </ul><br>
            {% endfor %}
        </p>
    </div>
</center>
{% endblock %}