{% extends 'main.html' %}

{% block title %} Nowy kontakt {% endblock %}

{% block body %}
   <div class="card text-white bg-secondary mb-3">
        <center>
            <div class="card-header">PHBOOK 1.0</div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-lg btn-primary">Dodaj <i class="fas fa-plus"></i></button>
                </form>
            </div>
        </center> 
    <div>
{% endblock %}