{% extends 'main.html' %}

{% block title %} Wyniki {% endblock %}

{% block body %}

<div style="border: 1px solid black">
    <a href="{% url 'index'%}">&nbsp&lt;&lt;Powrót do listy</a> 
    <h1>&nbspWyniki:</h1>
</div>
<div>
    <p>
        {% for person in allpersons %}
        <table>
            <tr><td  style="width: 350px";><b>{{person.lastname}} {{ person.firstname }}</b></td>
            <td style="width: 60px;"><a href="{% url 'edit_person' person.id%}">Edytuj</a></td>
            <td style="width: 60px;"><a href="{% url 'del_person' person.id%}">Usuń</a></td>
            <td style="width: 80px;"><a href="{% url 'add_email' person.id%}">+ e-mail</a></td>
            <td style="width: 80px;"><a href="{% url 'add_phone' person.id%}">+ telefon</a></td></tr>
                {% for email in person.email_set.all %}
                <tr><td>{{email.email}}</td><td></td><td></td><td></td><td></td></tr>
                {% endfor %}
                {% for phones in person.phonenumber_set.all %}
                <tr><td>{{phones.phonenumber}}</td><td></td><td></td><td></td><td></td></tr>
                {% endfor %}
                <input type="hidden" name="id" value="{{person.id}}">
        </table><br>
        {% endfor %}
    </p>
</div>
{% endblock %}