<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wyniki</title>
</head>
<body>
<div style="border: 1px solid black">
    <a href="{% url 'index'%}"> &lt;&lt;Powrót do listy</a> 
</div>


<div>
    <h1>Wyniki:</h1>
    <ul>
        {% for person in allpersons %}
        <li><b>{{ person.firstname }} {{person.lastname}}</b></li>
            {% for email in person.email_set.all %}
                <li>{{email.email}}</li>
            {% endfor %}
            {% for phones in person.phonenumber_set.all %}
                <li>{{phones.phonenumber}}</li>
            {% endfor %}<br>
        {% endfor %}
    </ul>
</div>
</body>
</html>