<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>TEST: {{id}} ,{{phone}}</p>
<!--
        <ul style="list-style-type:none;">
            {% for person in allpersons %}
                <li><b>{{person.lastname}} {{ person.firstname }}</b></li>
                <a href="{% url 'edit_person' person.id%}">Edytuj</a>
                <a href="{% url 'del_person' person.id%}">Usuń</a>            
                    {% for email in person.email_set.all %}
                    <li style="margin-left: 40px">{{email.email}}</li>
                    {% endfor %}
                    <a href="{% url 'add_email' person.id%}">Dodaj adres e-mail</a>
                    {% for phones in person.phonenumber_set.all %}
                    <li style="margin-left: 40px">{{phones.phonenumber}}</li>
                    {% endfor %}
                    <a href="{% url 'add_phone' person.id%}">Dodaj nr telefonu</a>
                    <input type="hidden" name="id" value="{{person.id}}">
                    <hr />
            {% endfor %}
        </ul>-->


</body>
</html>